
.container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
    gap: 1rem;

}

.box:first-child {
    width: 100%;
    height: 30px;
}


.box{
    width: 48%;
    height: 410px;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 400px;/*400px*/
    border-radius: 20px;
    background-color: grey;
}



#box1{
    background-color:#effbac;
    width: 69%;
}

#box2{
    background: linear-gradient(to right,rgba(255,255,255),#d9d071);
    width: 25%;
    justify-content: center;
}

#box3{
    justify-content: none;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: relative;
}

#box4{
    height: 200px;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.menu{
    background-color: white;
    font-size: 13px;
    word-spacing: 20px;
    text-align: end;
    height: 24px;
    padding-top: 15px;
    width: 450px;
    position: absolute;
    right: 20px;
    top: -10px;
    z-index: 1;
}

#contact{
    background-color: #e3f89d;
    color: black;
    border-radius: 20px;
    height: 16px;
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
}

#wesolve{

    position: relative;
    top: -30%;
    left: 20%;

}



.turn{
    position: absolute;
    font-size: 14px;
    width: 70px;
    left: 20px;
    top: 120px;
}

#peq{
    position: relative;
    right: -30px;
    top: -30px;
    font-size: 20px;
    min-width: 200px;
    z-index: 2;
}

.ideas{
    position: absolute;
    left: 100px;
    top: 110px;
    font-size: 40px;
}

.girl{
    height: 140px;
    position: absolute;
    top: 20px;  /*bottom: -20px;*/
    right: -20px;   /*right: 400px;*/
    z-index: 4;
}

.undergirl{
    position: absolute;
    right: -60px;
    bottom: -10px;
    width: 240px;
    z-index: 1;
}

.choose{
    position: absolute;
    top: 370px;
    left:18px;
    font-size: 100%;
}

.election{
    position: absolute;
    top: 420px;
    border-radius: 20px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

#one{
    background-color: black;
    color: white;
    left: 18px;
}

#two{
    left: 55px;
    background-color: white;
}

#three{
    left: 140px;
    background-color: white;
}

#tapar{
    position: absolute;
    width: 70px;
    height: 140px;
    top: 160px;
    left: 20px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), #effbac);
}

#algo{
    position: relative;
    right: 110px;
    top: 0%;
    width: 90px;
}

#puzzle{
    position: relative;
    left: -50px;
    top:0;
    z-index: 1;
    width: 38px;
}

#everything{
    position: relative;
    font-size: 12px;
    text-align: left;
    left: 90px;
    top: 60px;
    margin-bottom: 100px;
    z-index: 1;
    padding-left: 0px;
    width: 80px;
    background: linear-gradient(to bottom,rgba(0,0,0),#d9d071);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo{
    position: absolute;
    font-size: 17px;
    top: 1%;
    left: 10px;
    background-color: rgb(255, 255, 255);
    color: orange;
    border-radius: 25%;
    border: 1px solid rgb(160, 160, 160);
    padding-left: 7px;
    padding-top: 9px;
    width: 26px;
    height: 26px;
    z-index: 1;
}


.letritas{
    background-color: orange;
    font-size: 18px;
    color: white;
    width: 30px;
    height: 28px;
    padding-left: 6px;
    padding-top: 9px;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    top: 40px;
    left: -300px;
    z-index: 3;

}

#be{
    background-color: orange;
    top: 40px;
    left: -175px;
    font-size: 10px;
    color: white;
    width: 80px;
    height: 40px;
    padding-left: 50px;
    padding-top: 8px;
    border-radius: 10px;
    text-align: left;
    z-index: 2;
    position: relative;
    
}

.underthird{
    position: absolute;
    height: 140%;
    z-index: 1;
    top: 4%;
    left: 6%;
}

#fp{
    position: absolute;
    z-index: 2;
    font-size: 16px;
    top: -0px;
    color: white;
    min-width: 240px;
    text-align: center;
    left: 20%;

}


.started{
    position: relative;

    font-size: 14px;
    background-color: white;
    color: black;
    width: 74px;
    padding-inline: 10px;
    border-radius: 20px;
    left: 74px;
}
