body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    background-color: white;
    font-size: 13px;
    word-spacing: 20px;
    text-align: end;
    height: 4%;
    padding-top: 15px;
    width: 350px;
    position: absolute;
    right: 90px;
    top: 3px;
    z-index: 1;
}

#contact{
    background-color: #d8f89d;
    color: black;
    text-align: right;
    border-radius: 20px;
    position: absolute;
    height: 20px;
    right: 6px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 13px;
    top: 17px;
}

.first{
    background-color:#d8f89d;
    width: 85%;
    top: 54px;/*8%*/
    position: absolute;
    left: 1%;
    font-size: 30px;
    padding-left: 3%;
    height: 410px;
    border-radius:20px;   
}

.second{
    background: linear-gradient(to right,rgba(255,255,255),#d9d071);
    /*background-color: #d9d071;*/
    width: 23%;
    min-width: 130px;
    top: 54px;
    position: absolute;
    right: 1%;
    height: 410px;
    border-radius: 20px;    
}

.third{
    background-color: #8f9e4c;
    width: 48%;
    position: absolute;
    left: 1%;
    padding-left: 1%;
    height: 170px;
    border-radius: 20px;
    top: 480px;/*71%*/
    color: white;
    text-align: center;
    overflow:hidden
}

.fourth{
    background-color: #f0f0f0;
    width: 48.5%;
    position: absolute;
    right: 1%;
    height: 170px;
    border-radius: 20px;
    top: 480px; 
    overflow: hidden;
}

.started{
    background-color: white;
    font-size: 14px;
    width: 72px;
    position: absolute;
    left: 20%;
    padding-left: 1%;
    padding-right: 1%;
    height: 22px;
    border-radius: 20px;
    top: 600px;
}

.third.started{
    color: black;
}

.turn{
    position: absolute;
    font-size: 45%;
    width: 70px;
    top: 12%;
}

.ideas{
    position: absolute;
    left: 20%;
    top: 10%;
    font-size: 60px;
}

.girl{
    height: 120px;
    position: absolute;
    bottom: 0%;
    right: 1%;
}

.undergirl{
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 165px;
}

.choose{
    position: absolute;
    top: 77%;
    left:18px;
    font-size: 60%;
}

.election{
    position: absolute;
    bottom: 5%;
    border-radius: 20px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

#one{
    background-color: black;
    color: white;
    left: 18px;
}

#two{
    left: 55px;
    background-color: white;
}

#three{
    left: 140px;
    background-color: white;
}

#tapar{
    position: absolute;
    width: 70px;
    height: 140px;
    top: 22%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), #d8f89d);
}

#algo{
    position: absolute;
    left: -25px;
    top:21%;
    width: 90px;
}

#puzzle{
    position: absolute;
    left: -1px;
    top:44%;
    z-index: 1;
    width: 38px;
}

#solutions{
    position: absolute;
    left: 45px;
    top:42%;
    z-index: 1;
    width: 90px;
}

#everything{
    position: absolute;
    font-size: 12px;
    text-align: left;
    right: 0%;
    top: 52%;
    z-index: 1;
    padding-left: 0px;
    width: 70px;
    background: linear-gradient(to bottom,rgba(0,0,0),#d9d071);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo{
    position: absolute;
    top: 1%;
    left: 1%;
    padding-top: 0%;
    background-color: rgb(255, 255, 255);
    color: orange;
    border-radius: 25%;
    border: 1px solid rgb(160, 160, 160);
    padding-left: 9px;
    padding-top: 9px;
    width: 24px;
    height: 29px;
    z-index: 1;
}


.letritas{
    background-color: orange;
    font-size: 18px;
    color: white;
    width: 30px;
    height: 30px;
    padding-left: 6px;
    padding-top: 6px;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: 6px;
}

#be{
    background-color: orange;
    font-size: 10px;
    color: white;
    width: 80px;
    height: 40px;
    padding-left: 50px;
    padding-top: 8px;
    border-radius: 10px;
    text-align: left;
    
}

.underthird{
    position: relative;
    width: 40%;
    z-index: 2;
    top: 480px;
    left: 5px;
}

.trampa{
    position: absolute;
    top: 650px;
    left: 0px;
    width: 50%;
    height: 400px;
    color: white;
    background-color: white;
    z-index: 3;
}

@media screen and (max-width: 800px) {   /*Estas reglas son solo para movil*/
    .ideas {
        position: absolute;
        left: 22%;
        top: 10%;
        font-size: 8vw;
    }

    .underthird{
        position: relative;
        width: 50%;
        z-index: 2;
        top: 530px;
        left: 5px;

    }


    .menu{
        background-color: white;
        font-size: 13px;
        word-spacing: 10px;
        text-align: end;
        height: 4%;
        padding-top: 15px;
        width: 320px;
        position: absolute;
        right: 70px;
        top: 3px;
        z-index: 1;
    }
    #logo{
    position: absolute;
    top: 80px;
    left: 2%;
    padding-top: 0%;
    background-color: rgb(255, 255, 255);
    color: orange;
    border-radius: 25%;
    border: 1px solid rgb(160, 160, 160);
    padding-left: 9px;
    padding-top: 9px;
    width: 24px;
    height: 29px;
    z-index: 1;
    }
    
}
